<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>List of Todos</h1>
{{ range . }}
<li>{{.Name}}
<a href="/todos/remove?id={{.ID.Hex}}">
   <button>Remove</button>
</a>
 </li>
{{ end }}
</ul>

<form action="/todos" method="post">
  <div class="container">
    <label for="todo"><b>Enter a new todo item:</b></label>
    <input type="text" placeholder="Enter todo item" name="todo" required>

    <button type="submit">Add new todo</button>
  </div>
</form>

<a href="/login">
   <button>Log in</button>
</a>
</body>
</html>